In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import os
import seaborn as sns

In [2]:
merto = pd.read_csv(r"D:\bike\code\metro\Preprocessing-bike data\code\day_buffer\variable\metro_area.csv").drop(columns = 'Unnamed: 0')
merto.head()

,linename,stationnam,sl,poiid,lg,sp,lon,lat,geometry,index_right,hex_id,cluster_la,functional,function_1
0,地铁1号线(罗宝线),罗湖,"114.118666,22.532083",BV10249978,2,luo hu,114.118666,22.532083,POINT (114.118666 22.532083),2414,30444,0,Rural,4
1,地铁9号线,人民南,"114.118154,22.535514",BV10447615,0,ren min nan,114.118154,22.535514,POINT (114.118154 22.535514),2414,30444,0,Rural,4
2,地铁1号线(罗宝线),国贸,"114.118909,22.539680",BV10243546,2,guo mao,114.118909,22.539680,POINT (114.118909 22.53968),2415,30445,1,Center,1
3,地铁1号线(罗宝线),老街,"114.116939,22.544232",BV10249964,2,lao jie,114.116939,22.544232,POINT (114.116939 22.544232),2411,30441,1,Center,1
4,地铁1号线(罗宝线),大剧院,"114.107811,22.541800",BV10246013,3,DaJuYuan,114.107811,22.541800,POINT (114.107811 22.5418),2410,30440,1,Center,1

In [3]:
df = merto[['linename','stationnam','lon','lat','geometry','hex_id','cluster_la','functional','function_1']]

In [4]:
Access_integrated_ues = pd.read_csv(r"D:\bike\code\metro\Preprocessing-bike data\code\day_buffer\variable\mean_trips\dfA_morning.csv").drop(columns = 'Unnamed: 0')

In [5]:
df = df.merge(Access_integrated_ues, how='inner', on = 'stationnam' )

In [6]:
Egress_integrated_ues = pd.read_csv(r"D:\bike\code\metro\Preprocessing-bike data\code\day_buffer\variable\mean_trips\dfE_morning.csv").drop(columns = 'Unnamed: 0')

In [7]:
Egress_integrated_ues = Egress_integrated_ues[['stationnam','trips_O','day']]

In [8]:
df = df.merge(Egress_integrated_ues, how='inner', on = ['stationnam','day'] )

In [9]:
df

,linename,stationnam,lon,lat,geometry,hex_id,cluster_la,functional,function_1,trips_D,day,Tem.(°C),Wind(km/h),Hum.(%),Pressure(hpa),rain,week,weekday,trips_O
0,地铁1号线(罗宝线),罗湖,114.118666,22.532083,POINT (114.118666 22.532083),30444,0,Rural,4,586.0,2021-04-20,23.000000,5.666667,63.666667,1013.666667,0,1,weekday,452.0
1,地铁1号线(罗宝线),罗湖,114.118666,22.532083,POINT (114.118666 22.532083),30444,0,Rural,4,534.0,2021-04-21,24.666667,4.666667,65.333333,1013.000000,0,2,weekday,457.0
2,地铁1号线(罗宝线),罗湖,114.118666,22.532083,POINT (114.118666 22.532083),30444,0,Rural,4,625.0,2021-04-22,24.333333,6.000000,69.000000,1011.666667,0,3,weekday,457.0
3,地铁1号线(罗宝线),罗湖,114.118666,22.532083,POINT (114.118666 22.532083),30444,0,Rural,4,569.0,2021-04-23,26.000000,3.333333,78.666667,1009.333333,0,4,weekday,453.0
4,地铁1号线(罗宝线),罗湖,114.118666,22.532083,POINT (114.118666 22.532083),30444,0,Rural,4,321.0,2021-04-24,27.333333,8.333333,73.000000,1011.333333,0,5,weekend,306.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27989,地铁11号线,南山,113.923483,22.524037,POINT (113.923483 22.524037),18182,1,Center,1,1865.0,2021-08-16,28.666667,5.333333,84.000000,1012.333333,1,0,weekday,2096.0
27990,地铁11号线,南山,113.923483,22.524037,POINT (113.923483 22.524037),18182,1,Center,1,2133.0,2021-08-17,29.333333,4.666667,84.000000,1012.000000,0,1,weekday,2409.0
27991,地铁11号线,南山,113.923483,22.524037,POINT (113.923483 22.524037),18182,1,Center,1,2116.0,2021-08-18,29.666667,4.666667,84.000000,1008.666667,0,2,weekday,2407.0
27992,地铁11号线,南山,113.923483,22.524037,POINT (113.923483 22.524037),18182,1,Center,1,2088.0,2021-08-19,29.000000,2.666667,79.333333,1008.666667,1,3,weekday,2492.0
27993,地铁11号线,南山,113.923483,22.524037,POINT (113.923483 22.524037),18182,1,Center,1,2063.0,2021-08-20,27.666667,5.000000,84.000000,1010.000000,1,4,weekday,2464.0

In [10]:
Road_density = pd.read_csv(r"D:\bike\code\metro\Preprocessing-bike data\code\day_buffer\variable\bike_line_500.csv").drop(columns = 'Unnamed: 0')
Road_density = Road_density[['stationnam','road_density','intersections']]

In [11]:
df = df.merge(Road_density, how='outer', on = 'stationnam').dropna()

In [12]:
poi = pd.read_csv(r"D:\bike\code\metro\Preprocessing-bike data\code\day_buffer\variable\poi_variable_500.csv").drop(columns = 'Unnamed: 0')
poi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   stationnam            234 non-null    object
 1   Events                234 non-null    int64
 2   Transportation        234 non-null    int64
 3   Hotel                 234 non-null    int64
 4   Sports & Recreation   234 non-null    int64
 5   Public Facility       234 non-null    int64
 6   Enterprises           234 non-null    int64
 7   Medical               234 non-null    int64
 8   Commercial House      234 non-null    int64
 9   Place Name & Address  234 non-null    int64
 10  Indoor facilities     234 non-null    int64
 11  Motorcycle            234 non-null    int64
 12  Organization          234 non-null    int64
 13  Auto Service          234 non-null    int64
 14  Auto repair           234 non-null    int64
 15  Auto Dealers          234 non-null    int64
 16  Life                  234 non-null    int64
 17  Education             234 non-null    int64
 18  Shopping              234 non-null    int64
 19  Passage Facilities    234 non-null    int64
 20  Road Furniture        234 non-null    int64
 21  Finance               234 non-null    int64
 22  Tourist Attraction    234 non-null    int64
 23  Food                  234 non-null    int64
dtypes: int64(23), object(1)
memory usage: 44.0+ KB

In [13]:
poi_copy = poi[['stationnam','Commercial House','Enterprises','Shopping','Food','Education']]
poi_copy.columns  = ['stationnam','Residential','Workplaces','Shopping','Food','Education']
poi_copy

    stationnam  Residential  Workplaces  Shopping  Food  Education
0         购物公园           33         394       504   457         83
1           上塘           26          72       252   175         75
2           上屋           34         105       190   103         40
3          上李朗            9          76        32    17          8
4          上梅林           58         176       283   212         95
..         ...          ...         ...       ...   ...        ...
229         龙井           27          35       135   106         74
230         龙华           45         121       627   484        114
231       龙城广场           55         248       516   404         47
232         龙胜           42         167       231   217         47
233       科学公园            1           1         0     0          0

[234 rows x 6 columns]

In [14]:
df = df.merge(poi_copy, how='inner', on = 'stationnam')

In [15]:
station = pd.read_csv(r"D:\bike\code\metro\Preprocessing-bike data\code\day_buffer\variable\bus_number_500.csv").drop(columns = 'Unnamed: 0')
station

    stationnam  bus_num
0           上塘       45
1           上屋       35
2          上李朗       29
3          上梅林       30
4          上水径       22
..         ...      ...
229        黄贝岭       50
230         龙井       19
231         龙华       58
232       龙城广场       57
233         龙胜       37

[234 rows x 2 columns]

In [16]:
df = df.merge(station, how='inner', on = 'stationnam')

In [17]:
Pop_variable = pd.read_csv(r"D:\bike\code\metro\Preprocessing-bike data\code\day_buffer\variable\Pop_density_variables_500.csv").drop(columns = 'Unnamed: 0')
Pop_variable = Pop_variable[['stationnam','Pop','pop_density','area']]
Pop_variable

    stationnam         Pop  pop_density           area
0           罗湖    0.000000     0.000000  784137.122636
1          人民南  122.936989    15.677996  784137.122636
2           国贸  258.015625    32.904401  784137.122636
3           老街  327.055298    41.708942  784137.122636
4          大剧院  320.193817    40.833906  784137.122636
..         ...         ...          ...            ...
229         福永  176.444016    22.501679  784137.122636
230         机场    0.000000     0.000000  784137.122636
231        碧海湾  200.404678    25.557351  784137.122636
232         宝安  205.815216    26.247350  784137.122636
233         南山  310.424438    39.588030  784137.122636

[234 rows x 4 columns]

In [18]:
df =df.merge(Pop_variable, how='inner', on = 'stationnam')

In [19]:
distance_main_cbd = pd.read_csv(r"D:\bike\code\metro\Preprocessing-bike data\code\day_buffer\variable\distance_main_cbd.csv").drop(columns = 'Unnamed: 0')
distance_main_cbd = distance_main_cbd[['stationnam','distance_main_cbd','feature_distance_cbd']]
df = df.merge(distance_main_cbd, how='inner', on = 'stationnam')

df1 = pd.read_csv(r"D:\bike\code\metro\Preprocessing-bike data\code\day_buffer\variable\distance_local_cbd_commercial_building.csv").drop(columns = 'Unnamed: 0')
df1 = df1[['stationnam','distance_local_cbd','feature_distance_local_cbd']]
df1.columns = ['stationnam','distance_residence','feature_distance_residence']
df = df.merge(df1, how='inner', on = 'stationnam')

df1 = pd.read_csv(r"D:\bike\code\metro\Preprocessing-bike data\code\day_buffer\variable\distance_local_cbd_shpping.csv").drop(columns = 'Unnamed: 0')
df1 = df1[['stationnam','distance_local_cbd','feature_distance_local_cbd']]
df1.columns = ['stationnam','distance_shop','feature_distance_shop']
df = df.merge(df1, how='inner', on = 'stationnam')

df1 = pd.read_csv(r"D:\bike\code\metro\Preprocessing-bike data\code\day_buffer\variable\distance_local_cbd_food.csv").drop(columns = 'Unnamed: 0')
df1 = df1[['stationnam','distance_local_cbd','feature_distance_local_cbd']]
df1.columns = ['stationnam','distance_food','feature_distance_food']
df = df.merge(df1, how='inner', on = 'stationnam')

df1 = pd.read_csv(r"D:\bike\code\metro\Preprocessing-bike data\code\day_buffer\variable\distance_local_cbd_enterprise.csv").drop(columns = 'Unnamed: 0')
df1 = df1[['stationnam','distance_local_cbd','feature_distance_local_cbd']]
df1.columns = ['stationnam','distance_workpalce','feature_distance_workpalce']
df = df.merge(df1, how='inner', on = 'stationnam')

df1 = pd.read_csv(r"D:\bike\code\metro\Preprocessing-bike data\code\day_buffer\variable\distance_local_cbd_education.csv").drop(columns = 'Unnamed: 0')
df1 = df1[['stationnam','distance_local_cbd','feature_distance_local_cbd']]
df1.columns = ['stationnam','distance_education','feature_distance_education']
df = df.merge(df1, how='inner', on = 'stationnam')

In [20]:
df = df.rename(columns=lambda x: f"f_{x}" if x not in ['linename', 'stationnam', 'lon', 'lat', 'geometry', 'hex_id',
       'cluster_la', 'functional', 'function_1', 'weekday', 'trips_D',
       'week_x', 'trips_O', 'week_y']  else x)

In [21]:
df.columns

Index(['linename', 'stationnam', 'lon', 'lat', 'geometry', 'hex_id',
       'cluster_la', 'functional', 'function_1', 'trips_D', 'f_day',
       'f_Tem.(°C)', 'f_Wind(km/h)', 'f_Hum.(%)', 'f_Pressure(hpa)', 'f_rain',
       'f_week', 'weekday', 'trips_O', 'f_road_density', 'f_intersections',
       'f_Residential', 'f_Workplaces', 'f_Shopping', 'f_Food', 'f_Education',
       'f_bus_num', 'f_Pop', 'f_pop_density', 'f_area', 'f_distance_main_cbd',
       'f_feature_distance_cbd', 'f_distance_residence',
       'f_feature_distance_residence', 'f_distance_shop',
       'f_feature_distance_shop', 'f_distance_food', 'f_feature_distance_food',
       'f_distance_workpalce', 'f_feature_distance_workpalce',
       'f_distance_education', 'f_feature_distance_education'],
      dtype='object')

In [22]:
df.describe()

,lon,lat,hex_id,cluster_la,function_1,trips_D,f_Tem.(°C),f_Wind(km/h),f_Hum.(%),f_Pressure(hpa),...,f_distance_residence,f_feature_distance_residence,f_distance_shop,f_feature_distance_shop,f_distance_food,f_feature_distance_food,f_distance_workpalce,f_feature_distance_workpalce,f_distance_education,f_feature_distance_education
count,27994.000000,27994.000000,27994.000000,27994.000000,27994.000000,27994.000000,27994.000000,27994.000000,27994.000000,27994.000000,...,27994.000000,27994.000000,27994.000000,27994.000000,27994.000000,27994.000000,27994.000000,27994.000000,27994.000000,27994.000000
mean,114.024433,22.589230,16344.524398,1.704401,2.428127,478.911624,28.396990,6.702627,82.302577,1007.051094,...,4592.264016,19531.745060,4289.147882,19579.332058,3969.920160,19412.798580,4927.335050,33509.952307,5481.398066,19462.636549
std,0.106267,0.073414,9766.751948,1.039479,0.992270,546.577387,1.984313,2.501984,6.462763,4.491451,...,3310.478978,10889.634334,2400.586946,10962.082897,2272.164836,10885.629059,3114.461645,12225.633092,3055.728210,10536.274679
min,113.806076,22.476626,362.000000,0.000000,1.000000,1.000000,21.333333,2.000000,63.666667,995.666667,...,70.258353,718.935885,257.324720,644.536117,26.583847,73.010348,356.138559,2853.921506,634.500670,2132.714435
25%,113.935675,22.538320,8251.000000,1.000000,2.000000,114.000000,27.333333,5.000000,79.000000,1005.000000,...,2393.528439,9843.265943,2449.340401,10051.460752,2225.827446,9740.093570,2686.996016,25765.476579,3199.452092,9710.247796
50%,114.040850,22.561941,18012.000000,2.000000,2.000000,314.000000,29.000000,6.666667,83.666667,1007.333333,...,3887.099269,20380.470721,4003.090470,20495.079307,3651.820514,20290.057538,4467.155398,35085.674952,4836.720231,20307.553322
75%,114.104584,22.634322,24856.000000,3.000000,3.000000,667.000000,29.666667,8.000000,87.333333,1010.000000,...,5822.186633,26547.322709,5783.842795,26320.499727,5203.052924,26108.124172,6327.625562,41767.356396,7233.126170,26308.253208
max,114.277422,22.784486,36496.000000,3.000000,4.000000,5813.000000,30.666667,15.000000,96.333333,1016.000000,...,20798.723911,50201.190072,11070.302270,50216.691305,11132.853304,50011.669536,17020.640243,64878.221391,16563.378353,49978.190762

In [23]:
df.to_csv(r"D:\bike\code\metro\Preprocessing-bike data\code\day_buffer\variable\mean_trips\day_morning_500.csv",encoding = 'utf-8-sig')